<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikasi Akun</title>
</head>
<body>
    <div>
        <h2>Selamat Datang Di Aplikasi BLOG</h2>
        <p>Hai {{name}}, Klik tombol di bawah untuk melanjutkan verifikasi data.</p>
        <a href={{link}} target="_blank">
            <button style="background-color: blue; padding: 4px; color:azure">
                Aktivasi alamat email
            </button>
        </a>
    </div>
</body>
</html>